{% load static %}
<head>
	<script src="{% static 'loginForm.js' %}"></script>
</head>
<div class="container" class="centered-element">
        <form id="login-form">
            <div  style="padding-top:5%;"></div>
            <h2 style="display:flex;  display: flex;align-items: center;justify-content: center;">Login</h2>
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div style="display:flex;  display: flex;align-items: center;justify-content: center;padding-top:10px;">
                <button style="margin-left:10px;min-width:100px;" type="submit" class="btn btn-primary" role="button" aria-disabled="true">Login </button>
                <a href="{% url 'Oauth_link' %}" class="button-link">Auth 42</a>
            </div>
        </form>
        <p id="error-message" style="color:red;"></p>
        <p>Don't have an account? <a onclick="loadRegister()">Register here</a></p>
    </div>
